.MMM-WienerLinien .logo {
    margin-right: 5px;
}

.MMM-WienerLinien .centered {
    text-align: center;
}

.MMM-WienerLinien .table {
    border-spacing: 10px 0;
    border-collapse: separate;
}

.MMM-WienerLinien .incidents {
    margin-top: 10px;
    border-top: 1px solid #666;
    padding-top: 5px;
}
